<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>enbank</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <header style="justify-content: space-around">
    <img src="images/headerLogo.png" alt="bank" />
    <a href="">خدمات</a>
    <a href="">بانکداری الکترونیکی</a>
    <a href="">درباره ما</a>
    <a href="">ارتباط با ما</a>
    <div class="searchBtn"></div>
  </header>
  <body>
    <div>
      <img
        class="banner"
        src="images/17087711449232jonbeurhor2dj9tft1ok9cgnl.jpg"
        alt="bank"
      />
      <h2>فقط چندتا کلیک تا افتتاح حساب</h2>
    </div>
    <section>
      <div class="bank">
        <a href="">
          <img
            src="https://www.enbank.ir/data/0/sis_advService/157/1699343940860ls44ufjr1hl23kb0ve7p4llchq.jpg"
            alt=""
          />
          <b> تسحیلات پرداختی</b>
          <br />
          مشاهده نسخه الکترونیکی قراردادها
          <br /><img
            src="https://www.enbank.ir/data/0/sis_advService/17/1698579543440mp3061v7s8gppt8rq8bdhas513.jpg"
            alt=""
          />
          <b>اعتبار اسنادی ریالی</b> <br />
          استعلام آنلاین اعتبار اسنادی ریالی
        </a>
      </div>
      <div class="blue">
        <br />
        <img
          src="https://www.enbank.ir/data/0/sis_advService/12/1698579629156mp3061v7s8gppt8rq8bdhas513.jpg"
          alt=""
        />
        <b> ضمانتنامه</b>
        <br />استعلام آنلاین ضمانت‌نامه‌ها <br /><img
          src="https://www.enbank.ir/data/0/sis_advService/33/1698579656077mp3061v7s8gppt8rq8bdhas513.jpg"
          alt=""
          srcset=""
        /><b>خدمات اینترنتی کارت</b> <br />سامانه مدیریت کارت بانکی
      </div>
    </section>
  </body>
</html>
